<template name="table">
  <div id="table" class="table table-responsive data-table">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Fiscal Year</th>
          <th>Period Nbr</th>
          <th>Project Number</th>
          <th>Task Number</th>
          <th>MTD Actual FTW</th>
          <th>MTD Burdened Obligations</th>
          <th>MTD Obligations</th>
          <th>MTD EAC BurdenedPlan</th>
          <th>MTD EAC Raw Plan</th>
          <th>MTD EOC Burdened Plan</th>
          <th>MTD EOC Raw Plan</th>
          <th>MTD EAC FTE Plan</th>
          <th>MTD EAC Hours Plan</th>
          <th>MTD Burdened Cost Plan</th>
          <th>MTD Burdened Oblg Plan</th>
          <th>MTD FTE Plan</th>
          <th>MTD Hours Plan</th>
          <th>MTD Raw Cost Plan</th>
          <th>MTD Raw Oblg Cost</th>
        </tr>
      </thead>
        <tbody>
          <td>{{project}}</td>
          <td>{{taskNum}}</td>
          <td>{{taskMan}}</td>
        </tbody>
    </table>
  </div>
</template>
