<template name="sidebarQuery">
  <form class="main form query-form">
    <div class="form-group">
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">

          <li class="active">
            <div class="row">
              <div class="input-group">
                <input name="project" id="project" type="text" class="form-control" placeholder="Project">
              </div><!--input-group-->
            </div><!--row-->
          </li>
          <li class="active">
              <div class="row">
                <div class="input-group">
                  <input name="taskNum" id="taskNum" type="text" class="form-control" placeholder="Task #">
                </div><!--input-group-->
              </div><!--row-->
          </li>
          <li class="active">
              <div class="row">
                <div class="input-group">
                  <input name="taskMan" id="taskMan" type="text" class="form-control" placeholder="Task Manager">
                </div><!--input-group-->
              </div><!--row-->
          </li>
          <li class="active">
            <input type="submit" value="Go" class="btn btn-primary btn-lg"/>
          </li>
        </ul>
      </div>
    </div>
  </form>
</template>
