<template name="barChartYAxes">
	<div id="bar-chart-y-axes">
		<h4>Y Axis</h4>
		{{#each withIndex yAxes}}
			<select 
			class="selectpicker control bar-chart-y-axis-control" 
			id="bar-chart-y-axis-control-{{index}}" 
			name="bar-chart-y-axis-{{index}}" 
			data-style="btn-primary" 
			title="Select Y-Axis"
			index={{index}}
			>
			    {{#each range}}
					<option selected={{isSelected label}}>{{label}}</option>
			    {{/each}}
  			</select>
  			<button name="bar-chart-add-y-column" class="remove-btn" data-style="btn-primary" index={{index}}> - </button>	
		{{/each}}
		<button name="bar-chart-add-y-column" class="add-btn" data-style="btn-primary"> + </button>
		<span>Add Bars</span>
	</div>
</template>